---
layout: default
title: No encontrado
permalink: 404.html
---

{% haml _menu_secundario.haml %}
{% haml _menu_fijo.haml %}
{% haml _menu_responsive.haml %}

{% assign i18n=site.data[site.lang].no_encontrado %}

.row
  .col-md-4
    %img{src: '{{ site.baseurl }}/assets/images/ninha-globo-trazos.png', class: 'img-fluid'}
  .col-md-8
    %p= "{{ i18n.texto }}"

.row
  .col
    {% haml _busqueda.haml %}
