---
layout: default
title: Buscador
sitemap: false
---

{% haml _menu_secundario.haml %}
{% haml _menu_fijo.haml %}
{% haml _menu_responsive.haml %}

{% assign i18n=site.data[site.lang].busqueda %}

.container-muy-angosto
  {% assign avanzado=true %}
  {% haml _busqueda.haml %}

  .row
    #search-results.col.text-centered
      %h2 {{ i18n.sin_resultados_todavia }}

%script{src: '{{ site.baseurl }}/search.js{% asset %}'}
