---
layout: default
title: Contacto
---

{% haml _menu_secundario.haml %}
{% haml _menu_fijo.haml %}
{% haml _menu_responsive.haml %}

{% assign i18n=site.data[site.lang].contacto %}

%article.container-700
  .row
  %h1 {{ page.title}}
  %form{method: 'post', action: 'https://hifas.kefir.red/send'}
    %input{type: 'hidden', name: 'site', value: '{{ site.domain }}'}/
    .form-group
      %label{for: 'name'} {{ i18n.nombre }}
      %input.form-control{type: 'text', name: 'name'}
    .form-group
      %label{for: 'from'} {{ i18n.email }}
      %input.form-control{type: 'text', name: 'from'}
    .form-group
      %label{for: 'body'} {{ i18n.mensaje }}
      %textarea.form-control{name: 'body'}
    .form-check
      %input.form-check-input{type: 'checkbox', name: 'gdpr', id: 'gdpr'}
      %label.form-check-label{for: 'gdpr'}
        {{ i18n.aceptar_politicas }}
        %br/
        %a{href: '/politicas/'} Conocer aquí
    .form.group.aire
      %input.btn.btn-block.enviar{type: 'submit', value: '{{ i18n.enviar }}'}

