---
title: Documentales por estado
layout: default
permalink: '/estados/'
---
{% haml _menu_secundario.haml %}
{% haml _menu_fijo.haml %}
{% haml _menu_responsive.haml %}
{% assign i18n=site.data[site.lang].index.estados %}

.container-angosto
  .row
    .col
      %h1 {{ i18n.title }}

  .row
    {% assign posts = site.posts | attr_hash: 'estado' %}
    {% for item in posts %}
    %div{class: "col-md-{{12 | divided_by: i18n.cols}}"}
      {% haml _category_card.haml %}
    {% endfor %}
