---
layout: default
title: Incluir mi documental
---

{% haml _menu_secundario.haml %}
{% haml _menu_fijo.haml %}
{% haml _menu_responsive.haml %}

{% assign i18n=site.data[site.lang].contacto %}

%article.container-muy-angosto
  .row
    %h3
      ¿Quieres que tu documental forme parte 
    %h3
      del Catalogo de Documental Mexicano?

    %p
      El Catálogo tiene la finalidad de que sean los mismos directores
      y/o productores los que puedan ingresar los datos necesarios para
      que sus películas aparezcan en el Catálogo. Para ello deberás
      ingresar con tu mail en nuestra página y llenar el formulario con
      toda la información de la película.

    %p
      Uno de los objetivos del Catálogo de Documental Mexicano es que
      funcione como una herramienta de difusión y visibilización de la
      producción del Documental que se realiza en cada uno de los
      estados de la República. Así mismo, se pretende que sea un espacio
      de vinculación entre los realizadores o productores de las
      películas con los diversos espacios de exhibición de cine
      documental en el país. En otro sentido, puede convertirse en una
      valiosa fuente de información con miras a detonar análisis y/o
      proyectos de investigación sobre documental mexicano. Nuestro
      catálogo alcanza también a profesores de cualquier disciplina que
      necesiten utilizar un documental como material de consulta; de
      esta manera, fortaleceremos el uso del cine como herramienta
      educativa.

    %p
      ¡Bienvenidos!

  .seccion
    .row.aire
      %a.btn.btn-block.enviar{href: 'https://sutty.kefir.red/sites/documentalmexicano.org/invitadxs/login/new'} Iniciar sesión
    .row.aire
      %a.btn.btn-block.enviar{href: 'https://sutty.kefir.red/sites/documentalmexicano.org/invitadxs/new'} Crea una cuenta
