---
layout: default
title: Catálogo de Documental Mexicano
---

{% haml _menu_secundario.haml %}
{% haml _menu_principal.haml %}
{% haml _menu_responsive.haml %}
{% haml _portada.haml %}
{% haml _menu_fijo.haml %}

-# Genera una lista de artículos recientes, limitándolos a 12.  Cada uno
-# es una card de bootstrap a la que pasamos como parámetro el post
.recientes.container-angosto
  %h2.centrado.aire.uppercase
    %a{href: '/todos/'} {{ site.data.es.index.recientes.title }}
  .d-none.d-md-block
    {% assign cols=site.data.es.index.recientes.cols %}
    {% assign limit=site.data.es.index.recientes.limit %}
    {% assign breakpoints=site.data.es.index.recientes.breakpoints %}
    {% assign id='recientes' %}
    {% assign template='card' %}
    {% assign collection=site.posts | filter_by: 'layout', 'ficha_documental' | limit: limit %}
    {% assign ride=false %}
    {% haml _carousel.haml %}
  .d-md-none
    {% for item in collection limit: limit %}
    {% haml _card.haml %}
    {% endfor %}


-# Genera una lista de las categorías, limitándolas a 12.  Cada una es
-# una tarjeta de bootstrap mostrando la información de la categoría y el
-# poster de un artículo tomado al azar
.temas.container-angosto
  %h2.centrado.aire.uppercase
    %a{href: '/tematicas/'} {{ site.data.es.index.temas.title }}
  .d-none.d-md-block
    {% assign cols=site.data.es.index.temas.cols %}
    {% assign limit=site.data.es.index.temas.limit %}
    {% assign breakpoints=site.data.es.index.temas.breakpoints %}
    {% assign id='temas' %}
    {% assign template='category_card' %}
    {% assign collection=site.posts | attr_hash: 'tematicas' | limit: limit %}
    {% assign ride=false %}
    {% haml _carousel.haml %}
  .d-md-none
    {% for item in site.categories limit: limit %}
    {% haml _category_card.haml %}
    {% endfor %}

.generoestilos.container-angosto
  %h2.centrado.aire.uppercase
    %a{href: '/generos/'} {{ site.data.es.index.generoestilos.title }}
  .d-none.d-md-block
    {% assign id='genero_y_estilo' %}
    {% assign template='category_card' %}
    {% assign collection=site.posts | attr_hash: 'genero_y_estilo' | limit: limit %}
    {% assign ride=false %}
    {% haml _carousel.haml %}
  .d-md-none
    {% for item in collection limit: limit %}
    {% haml _category_card.haml %}
    {% endfor %}

.estados.container-angosto
  %h2.centrado.aire.uppercase
    %a{href: '/estados/'} {{ site.data.es.index.estados.title }}
  .d-none.d-md-block
    {% assign cols=site.data.es.index.recientes.cols %}
    {% assign limit=site.data.es.index.recientes.limit %}
    {% assign breakpoints=site.data.es.index.recientes.breakpoints %}
    {% assign id='estados' %}
    {% assign template='category_card' %}
    {% assign collection=site.posts | attr_hash: 'estado' | limit: limit %}
    {% assign ride=false %}
    {% haml _carousel.haml %}
  .d-md-none
    {% for item in collection limit: limit %}
    {% haml _category_card.haml %}
    {% endfor %}


.duracion.container-angosto
  %h2.centrado.aire.uppercase {{ site.data.es.index.duracion.title }}
  .d-none.d-md-block
    {% assign id='metraje' %}
    {% assign template='category_card' %}
    {% assign collection=site.posts | attr_hash: 'metraje' | limit: limit %}
    {% assign ride=false %}
    {% haml _carousel.haml %}
  .d-md-none
    {% for item in collection limit: limit %}
    {% haml _category_card.haml %}
    {% endfor %}

.internet.container-angosto
  %h2.centrado.aire.uppercase
    %a{href: '/categoria/disponible-en-internet/'} {{ site.data.es.index.internet.title }}
  .d-none.d-md-block
    {% assign cols=site.data.es.index.recientes.cols %}
    {% assign limit=site.data.es.index.recientes.limit %}
    {% assign breakpoints=site.data.es.index.recientes.breakpoints %}
    {% assign id='internet' %}
    {% assign template='card' %}
    {% assign collection=site.categories['Disponible en Internet'] | limit: limit %}
    {% assign ride=false %}
    {% haml _carousel.haml %}
  .d-md-none
    {% for item in collection limit: limit %}
    {% haml _card.haml %}
    {% endfor %}


