---
layout: default
title: Tu sesión
---

{% haml _menu_secundario.haml %}
{% haml _menu_fijo.haml %}
{% haml _menu_responsive.haml %}

{% assign i18n=site.data[site.lang].contacto %}

%article.container-muy-angosto
  .seccion
    .row.aire
      %a.btn.btn-block.enviar{href: 'https://sutty.kefir.red/sites/documentalmexicano.org/invitadxs/login/new'} Iniciar sesión
    .row.aire
      %a.btn.btn-block.enviar{href: 'https://sutty.kefir.red/sites/documentalmexicano.org/invitadxs/new'} Crea una cuenta
