---
---

/* Aquí solo importar los parciales del directorio _sass/ */
@import "bootstrap";
@import "font-awesome";
@import "menu-fijo";
@import "fonts";
@import "variables";
@import "ficha_documental";
@import "buscador";
@import "sutty";

html {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100%;
}

.container-angosto {
  max-width: 1050px;
  margin: auto;
}

.container-muy-angosto {
  max-width: 900px;
  margin: auto;
}

.container-700 {
  max-width: 700px;
  margin: auto;
}

.justificado {
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  html {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.fa {
  color: $blanco;

  &:hover {
    color: $magenta !important;
  }
}


body {
  font-family: $font-family-parrafo;
  font-size: $font-size-regular;
}

.sprockets {
  background-image: url(/assets/images/fondo.jpg);
  background-repeat: repeat;
  background-position: center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -moz-background-attachment: fixed;
  -webkit-background-attachment: fixed;
  -o-background-attachment: fixed;
  background-attachment: fixed;
}

p, li, ul {
  font-family: $font-family-parrafo;
  font-size: $font-size-regular;
  color: $negro;
  font-weight: 400;
  text-align: justify;
}

small, .small {
  font-size: $font-size-small;
}

.blanco {
  font-color: $blanco;
}

.row-centered {
  text-align:center;
}

.footerlogo {
	padding-bottom: 50px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-titulo;
  color: $magenta;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;

}

h1 {
  font-size: $font-size-xxx-large;
}


@media only screen and (max-width: 600px) {
  h1 {
   font-size: 2rem;
  }

  h2 {
   font-size: 1.8rem;
  }

  h3 {
   font-size: 1.3rem;
  }

  .titulo-portada {
   padding-top: 0px;
  }

}

a {
  color: $magenta;
}

a:hover {
  color: $magenta;
  text-decoration: dashed;
}


.jumbotron {
  padding: 0px;
  background-color: transparent !important;
}


/*button.btn.btn-primary {
	background-color: $turquesa;
	color: $white;
}*/


/* Menus */
nav {
	font-family: $font-family-titulo;
	color: $magenta;
}



.nav-link {
    color: $magenta;
}


.nav-link-light, a.nav-link-light {
    color: $blanco;
}

.nav-link-secundario {
    color: $magenta;
    background-color: none;
    font-family: $font-family-titulo !important;
}


a.nav-link {
  color: $magenta;
  text-decoration: underline;
  font-weight: $font-weight-bold;
  font-size: $font-size-large;
}

a.nav-link-secundario {
  color: $magenta;
  text-decoration: underline;
  font-weight: $font-weight-bold;
  font-size: $font-size-large;
}



a.nav-link:hover .card-title:hover a.badge.badge-secondary:hover .card-link:hover {
	text-decoration: underline;
}

.card-link:hover .card-title:hover a.card-link:hover h4.card-title:hover {
	color: $negro !important;
}

.light-hover {
	color: $blanco;
}
.light-hover:hover {
	color: $white;
}


.menu-principal {
    margin: auto;
    font-size: $font-size-regular;
    background: $magenta;
    text-transform: uppercase;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
}

.centrado {
    text-align: center;
    margin: auto;
}

.uppercase {
    text-transform: uppercase;
}



.menu-secundario {
    right: 0%;
    top: 20%;
    font-size: $font-size-small;
    color: $magenta;
    font-family: $font-family-titulo !important;
    text-transform: uppercase;
}

.navbar-expand-lg  {
    justify-content: flex-end !important;
}

.nav-item  {
    margin-left: 20px;
    color: $magenta;
}

.nav-item-secundario  {
    margin-left: 20px;
    color: $magenta;
    text-transform: uppercase;
}

.blanco  {
    color: $blanco;
}

.table {
    color: $blanco;
}

.nav-item-bg {
    background-color: none;
    padding: 5px 10px;
    border-radius: 0.5em;
    border-color: $white;
    font-weight: $font-weight-bold;
}

.menu-responsive {
    background-color: $magenta;
    color: $blanco;
    font-size: $font-size-regular;
    line-height: 2em;
    text-align: center;
}

.menu-responsive:hover {
    color: $blanco;
}

.icons-menu-responsive {
    font-size: $font-size-large;
    line-height: 2em;
    text-align: center;
}

.icons-menu-responsive:hover {
    color: $blanco;
}


.btn-menu-fijo:hover, .fa:hover {
    color: $blanco !important;
}

.menu-fijo {
    width: 4%;

    .fa {
      color: $magenta !important;

      &:hover {
        color: $blanco !important;
      }
    }
}

@media only screen and (max-width: 600px) {
.menu-fijo {
    width: 15%;

    .fa {
      color: $magenta !important;
      font-size: 20px;

      &:hover {
        color: $blanco !important;
      }
    }
}
}






.btn-menu-fijo {
    background-color: transparent !important;
    border: none !important;
    color: $magenta;
    font-size: $font-size-x-large !important;
    padding-right: 0.1rem;
}

.btn-trailer {
    background-color: transparent !important;
    border: none !important;
    color: $magenta;
    font-size: $font-size-large;
}

.btn-trailer:hover {
    text-decoration: dashed;
}

.btn {
    background-color: transparent !important;
    border: 1px solid $magenta;
    border-radius: 0.5em;
    color: $magenta;
    font-size: $font-size-regular;
}

.btn:hover {
    border: 2px solid $magenta;
    color: $white !important;
}



.bg-dark {
    background-color: $rojo !important;
    color: $rojo !important;

}

.table-striped {
  tbody tr:nth-of-type(#{$table-striped-order}) {
	background-color: rgba(158, 71, 112, 0.5) !important;
  }
}

.table thead th, .table th, .table td {
	border-top: 0px transparent;
	border-bottom: 0px transparent;
        padding: 0.1rem !important;
}



.titulo-ficha {
    padding-top: 100px;
    padding-bottom: 30px;
}

/*.portada {
  background: transparent !important;
  background: url(assets/images/fondo-portada.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.seccion {
    padding-top: 50px;
    padding-bottom: 50px;

    a {
      color: $blanco;
    }
}

.sinopsis {
    padding-bottom: 200px;
}

/* Formulario */
.form-group, .form-inline, .input-group, .sr-only, .form-control {
  font-family: $font-family-titulo;
	color: $negro;
	font-size: $font-size-large;
}

@media only screen and (max-width: 600px) {
.form-inline, .input-group, .sr-only, .form-control {
	font-size: 19px;
}
}


.poquito-aire {
  padding-top: 20px;
}

.aire {
  padding-top: 100px;
}


.card {
  background-color: $magenta;
  box-shadow: black 0.25em 0.25em 0.5em;
  height: calc(100% - 1.25em);
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  line-height: 0.2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* menos padding en los cards a col-md-3*/

.pegaditos {
  padding-left: 10px;
  padding-right: 10px;
}


@media only screen and (max-width: 600px) {
  .card {
    margin-bottom: 5vh;
  }

  .card-img-top {
    width: 100%;
    object-fit: cover;
  }
}

.cover {
  width: 100%;
  height: 35vw;
  object-fit: cover;
}


.texto-slider-claro {
  color: $blanco;
  font-size: $font-size-small;
  margin-bottom: 10px;
  margin-top: 10px;
}

.titulo-slider {
  font-family: $font-family-parrafo;
  font-size: $font-size-large;
  text-transform: uppercase;
}

.direccion-slider {
  font-family: $font-family-titulo;
  font-size: $font-size-medium;
  text-transform: uppercase;
}

.subtitulo {
  font-family: $font-family-parrafo;
}

.metadatos-slider {
  font-size: $font-size-medium;
}

.still {
  position: relative;
  padding: 0;
}


.datos-ficha-responsive {
  display: none;
}

@media only screen and (max-width: 600px) {

.seccion {
      padding-bottom: 50px;
  }

.datos-ficha-responsive {
      display: block;
      padding: 5vw;
  }
}

select {
  &.form-control {
    height: auto !important;
  }
}

.controles {
  text-align: center;

  .carousel-control-prev,
  .carousel-control-next {
    display: inline-block;
    font-size: 2rem;
    color: $blanco;
    margin: 5px;
    opacity: 1;
    position: relative;
    width: auto;
  }
}

@media only screen and (max-width: 600px) {
 
.controles {
  text-align: center;

  .carousel-control-prev,
  .carousel-control-next {
    display: inline-block;
    font-size: 4rem;
    color: $blanco;
    margin: 5px;
    opacity: 1;
    position: relative;
    width: auto;
  }
}

}

.carousel-inner {
  padding-right: 10px;
}

.card-body {
  padding: 0.6rem;
  line-height: 0.9rem;
}

.display-4 {
  font-size: 3rem;
}

footer {
  margin-top: 12rem;

  img {
    max-width: 200px;
  }
}

/* CSS portada */

.alinear-con-lente {
  padding-top: 160px;
}

@media only screen and (max-width: 600px) {
.alinear-con-lente {
  padding-top: 20px;
}
}

/* Cards */

.card-title {
  font-family: $font-family-titulo;
  font-size: $font-size-small;
  color: $blanco;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
}

.card-subtitle {
  font-family: $font-family-parrafo;
  font-size: $font-size-small;
  color: $blanco;
  padding-top: 20px;
  text-transform: none !important;
  font-weight: $font-weight-regular !important;
}


.card-text {
  font-family: $font-family-parrafo;
  color: $blanco;
  font-size: $font-size-small;
  padding-top: 5px;
}

.badge.badge-secondary {
  font-family: $font-family-parrafo;
  font-size: $font-size-x-small;
  color: $blanco;
  /*padding-top: 20px;*/
  margin-right: 5px;
  /*border: 1px solid $blanco;*/
  background-color: transparent !important;
  text-transform: uppercase;
  font-weight: $font-weight-bold !important;
  border-width: 1px;
  border-style: dotted;
  border-color: $blanco;
}


/*.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/

.card-link {
	color: $blanco;
}


p.card-text.ano {
  font-family: $font-family-parrafo;
	font-size: $font-size-regular;
  text-align: right;
  color: $blanco;
}


.datos-ficha {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 350px;
  left: 50px;
  z-index: 1000;
  padding: 10px;
}

.destacado {
  font-weight: $font-weight-bold;
  color: $magenta;
  line-height: 0.9rem;
}

.invertido {
  background-color: $magenta;
  color: $white;
  display: inline-block
  /*line-height: 2.7rem;*/
}

/*.invertido-estrecho {
  background-color: $magenta;
  color: $white;
  width: 35%;
  line-height: 2.7rem;
}*/

.enviar {
  background-color: $magenta !important;
  color: $white;
  width: 50% !important;
  margin: auto;
}


@media only screen and (max-width: 600px) {
  .datos-ficha {
    display: none
  }

  .card {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}


.seccion2 {
  background-color: $morado;
}

.licencias-restricciones {
  background-color: $magenta;
}

.relacionadas {
  background-color: none;
}

.intro {
  background-color: $turquesa;
}

.magenta {
  background-color: $magenta;
}

.rem15 {
  font-size: 1.5rem;
}
