---
title: Documentales por temáticas
layout: default
---
{% haml _menu_secundario.haml %}
{% haml _menu_fijo.haml %}
{% haml _menu_responsive.haml %}
{% assign i18n=site.data[site.lang].tematicas %}

.container-angosto
  .row
    .col
      %h1 {{ i18n.titulo }}

  .row
    {% assign tematicas = site.posts | attr_hash: 'tematicas' %}
    {% for item in tematicas %}
    %div{class: "col-md-{{12 | divided_by: i18n.cols}}"}
      {% haml _category_card.haml %}
    {% endfor %}
