---
title: Todos los documentales
layout: default
permalink: '/todos/'
---
{% haml _menu_secundario.haml %}
{% haml _menu_fijo.haml %}
{% haml _menu_responsive.haml %}
{% assign i18n=site.data[site.lang].index.recientes %}

.container-angosto
  .row
    .col
      %h1 {{ i18n.title }}

  .row
    {% assign posts = site.posts | filter_by: 'layout', 'ficha_documental' %}
    {% for item in posts %}
    %div{class: "col-md-{{12 | divided_by: i18n.cols}}"}
      {% haml _card.haml %}
    {% endfor %}
