{% assign i18n=site.data[site.lang].busqueda %}
%article.container-700
%form#buscador.aire{method: 'get', action: '/buscador/'}
  .row
    .col
      %label.sr-only{for: 'q'} {{ i18n.buscar }}
      .input-group
        %input#q.form-control{name: 'q', type: 'text', placeholder: "{{ i18n.buscar }}"}
        .input-group-append
          %button.btn.btn-primary.btn-menu-fijo{type: 'submit', title: "{{ i18n.buscar }}"}
            %span.fa.fa-search
        %button#filters.btn.btn-primary.btn-menu-fijo{type: 'submit', title: '{{ i18n.avanzada }}', name: 'filters', value: 'true'}
          %span.fa.fa-sliders
          &nbsp; {{ i18n.avanzada }}
  {% if avanzado %}
  .filters.d-none
    .row
      {% assign years = site.posts | collect_field: 'año' %}
      .col-md-2
        %label.sr-only{for: 'desde'} {{ i18n.desde }}
        %select#desde.form-control{name: 'desde'}
          %option{value: ''} {{ i18n.desde }}
          {% for year in years %}
          %option{value: "{{ year }}"} {{ year }}
          {% endfor %}
      .col-md-2
        %label.sr-only{for: 'hasta'} {{ i18n.hasta }}
        %select#hasta.form-control{name: 'hasta'}
          %option{value: ''} {{ i18n.hasta }}
          {% for year in years %}
          %option{value: "{{ year }}"} {{ year }}
          {% endfor %}

    .row
      .col
        %label.sr-only{for: 'directorx'} {{ i18n.directorx }}
        .input-group
          %input#directorx.form-control.search-field{name: 'directorx', type: 'text', placeholder: '{{ i18n.directorx }}'}
      .col
        %label.sr-only{for: 'titulo'} {{ i18n.titulo }}
        .input-group
          %input#titulo.form-control.search-field{name: 'titulo', type: 'text', placeholder: '{{ i18n.titulo }}'}

    -# Traer todos los campos de busqueda.fields en _data/_es.yml
    {% for field in i18n.fields %}
    .row
      .col
        -# Aplicar la plantilla de _includes/_search_select.haml
        {% haml _search_select.haml %}
    {% endfor %}

    .row
      .col
        %button.btn.btn-primary{type: 'submit', title: "Buscar"}
          %span.fa.fa-search
          Buscar
  {% endif %}
