-# Genera un carousel con columnas
-# Parámetros a definir antes de cargar el partial
-# * id => el id del carousel
-# * cols => cantidad de columnas
-# * limit => cantidad de items a tomar de la colección
-# * collection => la colección a mostrar
-# * template => la plantilla de cada item de la colección
-# * breakpoints => puntos de corte para la colección
-# TODO calcular los breakpoints
{% assign total = collection | size %}
{% assign i18n = site.data[site.lang].carousel %}
-# carousel con slide automatico
.carousel.slide{id: "carousel-{{ id }}", data: { ride: "{{ ride }}" }}
  .controles
    %a.carousel-control-prev{href: "#carousel-{{ id }}", role: 'button', data: { slide: 'prev' }}
      %span.fa.fa-caret-left{aria: { hidden: 'true' }}
      %span.sr-only {{ i18n.prev }}
    %a.carousel-control-next{href: "#carousel-{{ id }}", role: 'button', data: { slide: 'next' }}
      %span.fa.fa-caret-right{aria: { hidden: 'true' }}
      %span.sr-only {{ i18n.next }}
  .carousel-inner
    -# Genera cada slide del carousel por cada paso.
    {% for col in breakpoints %}
    {% assign offset = col | minus: cols %}
    -# Si la colección tiene menos items que pasos, no generar una slide
    -# a menos que sea la primera
    {% if forloop.index > 1 and total <= offset %}{% break %}{% endif %}
    -# Asignar la clase active solo a la primera slide
    {% assign active = '' %}
    {% if forloop.index == 1 %}{% assign active = 'active' %}{% endif %}
    -# Aquí el tag liquid va sin espacios porque haml los interpreta
    -# como clases distintas y las reordena (?)
    .carousel-item{class: '{{active}}'}
      .row.justify-content-center
        -# Generar una sub-colección con un recorte
        {% for item in collection limit: cols offset: offset %}
        %div{class: "col-md-{{ limit | divided_by: cols }}"}
          {% haml {{ template | append: '.haml' | prepend: '_' }} %}
        {% endfor %}
    {% endfor %}
