.card
  %a.card-img-link{href: "{{ item.url }}"}
    %img.card-img-top{alt: "{{ item.title }}", src: "{{ site.baseurl }}{{ item.thumb }}"}
  .card-body
    %h5.card-title
      %a.light-hover{href: "{{ item.url }}"}
        {{ item.title | truncate: 36 }}
        {% if item.layout == 'ficha_documental' %}
        ({{ item.anio }})
        {% endif %}
    {% if item.layout == 'noticia' %}
    %small.blanco
      {{ item.descripcion }}
      %a.badge.badge-secondary{href: "{{ item.url }}"}
        {{ site.data[site.lang].noticia.leer_mas }}
    {% else %}
    %small.blanco
      {{ item.directorx | join: ', ' | truncate: 36 }} // {{ item.duracion }} mins
    {% if item.tags %}
    %p.card-text
      {% for tag in item.tags limit:3 %}
      %a.badge.badge-secondary{href: "{{ site.baseurl }}/tag/{{ tag | slugify }}"}
        {{ tag }}
      {% endfor %}
    {% endif %}
    {% endif %}
