%footer
  .row.justify-content-center
    .col-md-3.text-center
      %small
        Proyecto realizado por
      %img{src: '{{ site.baseurl }}/assets/images/red-docred.png', class: 'img-fluid footerlogo'}
    .col-md-3.text-center
      %small
        Con el apoyo de
      %img{src: '{{ site.baseurl }}/assets/images/imcine.png', class: 'img-fluid footerlogo'}
    .col-md-3.text-center
      %small
        Programación, diseño y hosting
      %img{src: '{{ site.baseurl }}/assets/images/kefir.png', class: 'img-fluid footerlogo'}

  %ul.nav.justify-content-center
    {% for foot in site.data.es.footer.links %}
    %li.nav-item
      %a.nav-link{href: "{{ foot.href }}"} {{ foot.text }}
    {% endfor %}

  .row.justify-content-center
    .col-md-4.text-center
      {% if site.license %}
      %img{src: '{{site.license.icon}}'}
      %p.small.text-center
        %a{href: '{{site.license.url}}', rel: 'license'} {{site.license.title}}
      {% endif %}
