.menu-fijo.d-none.d-md-block.btn-group-vertical.position-fixed{role: 'group', aria: { label: "{{ site.data.es.menu_fijo.title }}"}}
  %a.btn.btn-primary.btn-menu-fijo{href: "#top", alt: "Regresar arriba", title: "Regresar arriba"}
    %span.fa.fa-level-up
  %a.btn.btn-primary.btn-menu-fijo{href: "{{ site.baseurl }}/incluir-mi-documental/", alt: "Incluir mi documental", title: "Incluir mi documental"}
    %span.fa.fa-upload
  %a.btn.btn-primary.btn-menu-fijo{href: '{{ site.baseurl }}/buscador/', alt: "Buscar documental", title: "Buscar documental"}
    %span.fa.fa-search
  %a.btn.btn-primary.btn-menu-fijo{href: "{{ site.baseurl }}/sesion/", alt: "Iniciar sesión / Crear cuenta", title: "Iniciar sesión / Crear cuenta"}
    %span.fa.fa-key
