.d-none.d-md-block
  %nav.menu-principal.navbar.navbar-expand-md.justify-content-center
    %ul.navbar-nav
      {% for item in site.data.es.menu_principal %}
      %li.nav-item-bg
        %a.nav-link-light{href: "{{ item.url }}"} {{ item.texto }}
      {% endfor %}
