.d-sm-block.d-md-none.justify-content-center.navbar-nav.mr-auto
  %nav.menu-responsive.navbar.navbar-expand-lg.collapse
  %button.navbar-toggler.magenta.rem15{"data-target" => "#collapsibleNavbar", "data-toggle" => "collapse", :type => "button"}
    %span.fa.fa-bars
  #collapsibleNavbar.collapse.navbar-collapse
    %ul.navbar-nav.menu-responsive
      {% for item in site.data.es.menu_secundario %}
      %li
        %a.menu-responsive{href: "{{ item.url }}"} {{ item.texto }}
      {% endfor %}
      {% for item in site.data.es.menu_principal %}
      %li
        %a.menu-responsive{href: "{{ item.url }}"} {{ item.texto }}
      {% endfor %}

