{% assign post = item | last | sample %}
{% assign cat  = item | first %}
.card
  %a.card-img-link{href: "{{ site.baseurl }}/categoria/{{ cat | slugify }}"}
    %img.card-img-top{alt: "{{ post.title }}", src: "{{ site.baseurl }}{{ post.thumb }}"}
  .card-body
    %h4.card-title
      %a.light-hover{href: "{{ site.baseurl }}/categoria/{{ cat | slugify }}"}
        {{ cat | split: ':' | first }}
      .card-subtitle {{ cat | split: ':' | last }}
