.jumbotron
  .row.container-angosto
    .col-md-1
    .col-md-5.poquito-aire
      %img{src: '{{ site.baseurl }}/assets/images/logo_docredv2.png', class: 'img-fluid'}
    .col-md-5.alinear-con-lente
      %img{src: '{{ site.baseurl }}/assets/images/texto-logo_docredv2.png', class: 'img-fluid'}
    .col-md-1
  .row.container-angosto
    .col-md-2
    .col-md-8
      = "{% haml _busqueda.haml %}"
    .col-md-2
