-# El texto
{% assign titulo = field | last %}
-# El nombre del campo, coincide con el nombre del campo en _templates/ficha_documental.markdown
{% assign name = field | first %}
-# Etiqueta que solo se muestra en lectores de pantalla
%label.sr-only{for: '{{ name }}'} {{ titulo }}
-# Crea un desplegable
%select.form-control.search-field{id: '{{ name }}', name: '{{ name }}'}
  -# Opción vacía para poder ver la descripción del campo
  %option{value: ''} {{ titulo }}
  -# Crear todas las opciones buscando todos los valores para ese campo.
  -# collect_name está definido en _plugins/sample_filter.rb
  {% assign options = site.posts | collect_field: name %}
  -# Por cada opción crear una opción
  {% for option in options %}
  %option{value: '{{ option }}'}= "{{ option }}"
  {% endfor %}
