%form.form-inline
  %label.sr-only{for: 'buscar'} {{ site.data.es.busqueda.buscar }}
  .input-group
    %input#buscar.form-control{type: 'text', placeholder: "{{ site.data.es.busqueda.buscar }}"}
    .input-group-append
      %span.input-group-text @
