/* Quita el padding al carousel */
.ancho-completo {
  padding-left: 0;
  padding-right: 0;

  .carousel-inner {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;

  .col-md-12 {
    margin: 0;
    padding: 0;
  }
}

.seccion {
  &.festivales,
  &.premios_y_reconocimientos {
    background-color: orange
  }

  &.ficha-tecnica {
    background-color: $morado;
  }

  &.datos_de_contacto,
  &.distribuidoras,
  &.realizadorxs {
    background-color: $magenta;
  }
}
