
@font-face {
	    font-family: 'Kingthings Typewriter 2';
	    src: url(fonts/Kingthings_Trypewriter_2.ttf) format('truetype');
}

@font-face {
	    font-family: 'Century Gothic';
	    src: url(fonts/CenturyGothic.ttf) format('truetype');
}
	
@font-face {
	    font-family: 'Neutra Text';
	    src: url(fonts/NeutraText-Book.otf) format('opentype');
}

@font-face {
	    font-family: 'Neutra Text Bold';
	    src: url(fonts/NeutraText-Bold.otf) format('opentype');
}


