#sutty {
  max-width: 900px;
  margin: auto;

  .fa {
    color: $magenta !important;
  }

  .btn {
    &:hover {
      border: 1px solid $magenta;
      color: $magenta !important;
    }
  }

  .add-group,
  .remove-group {
    font-size: 13px;
  }

  ol {
    &.breadcrumb {
      background-color: transparent;
    }
  }

  ul[id^="select2-"] {
    li {
      text-align: left;
    }
  }

  .form-group {
    color: $negro !important;
  }

  .form-inline, .input-group, .sr-only, .form-control {
    font-size: 1rem;
  }

  label {
    color: $negro !important;
  }

  table {
    color: $negro !important;

    .table-striped {
      tbody {
        tr {
          &:nth-of-type(2n+1) {
            background-color: transparent !important;
          }
        }
      }
    }
  }
}
