/* Tipografías */
$font-family-titulo: "Neutra Text", "Century Gothic", "Open Sans";
$font-family-parrafo: "Century Gothic", "Open Sans";
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;
$font-size-x-small: 10px;
$font-size-small: 14px;
$font-size-medium: 16px; 
$font-size-regular: 18px; 
$font-size-large: 24px;
$font-size-x-large: 32px;
$font-size-xx-large: 48px;
$font-size-xxx-large: 60px;
$font-size-xxxx-large: 96px;

/* Colores */
$rojo: #E45D50;
$morado: #905D78;
$negro: #4E4A47;
$blanco: #ffffff;
$turquesa: #00AC8C;
$magenta: #D53F77;
