---
layout: default
---

{% haml _menu_secundario.haml %}
{% haml _menu_fijo.haml %}
{% haml _menu_responsive.haml %}
{% assign i18n=site.data[site.lang].archives %}
{% assign parts=page.title | split: ':' %}

.container-angosto
  .row.row-centered
    .col
      %h1 {{ parts | first }}
      {% if parts.size > 1 %}
      %h2 {{ parts | last }}
      {% endif %}

  .row
    {% for item in page.posts %}
    %div{class: "col-md-{{12 | divided_by: i18n.cols }}"}
      {% haml _card.haml %}
    {% endfor %}
