!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", 'http-equiv': "Content-Type"}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}/
    %title= "{{ page.title }}"
    %link{rel: 'stylesheet', href: '/styles.css{% asset %}'}/
    {% seo %}
    %script{type: 'text/javascript', src: '{{ site.baseurl }}/main.js{% asset %}'}
  %body#top.sprockets
    .container-fluid
      = "{{ content }}"
      {% haml _footer.haml %}
      {% haml _piwik.haml %}
