---
layout: default
---

-# Traer los menues
{% haml _menu_secundario.haml %}
{% haml _menu_fijo.haml %}
{% haml _menu_responsive.haml %}
{% assign data = site.data[site.lang].ficha_documental %}

-# Portada de la película
-# TODO agregar still de la película
.jumbotron.ancho-completo.portada.still
  {% assign cols=1 %}
  -# Esto es 12 porque 12/1 (limit/cols) da 12, que es el ancho máximo de Bootstrap
  {% assign limit=12 %}
  {% assign breakpoints=page.stills.size | to_array %}
  {% assign id='stills' %}
  {% assign template='still' %}
  {% assign collection=page.stills %}
  {% assign ride='carousel' %}
  {% haml _carousel.haml %}
  .datos-ficha
    %h1.titulo-slider.texto-slider-claro {{ page.title }}
    %h3.direccion-slider.texto-slider-claro {{ page.equipo_de_produccion.direccion }}
    %h3.metadatos-slider.texto-slider-claro {{ page['año'] }} / {{ page.duracion }} mins
    {% if page.link_al_trailer %}
    %a.btn.btn-primary.btn-trailer{href: "{{ page.link_al_trailer }}", target: "_blank"}
      %span.fa.fa-play-circle 
      %p.small.texto-slider-claro Trailer
    {% endif %}
    {% if page.link_para_visionado %}
    {% if page.link_para_visionado_publico == 'true' %}
    %a.btn.btn-primary.btn-trailer{href: "{{ page.link_para_visionado }}", target: "_blank"}
      %span.fa.fa-film 
      %p.small.texto-slider-claro Ver en línea
    {% endif %}
    {% endif %}
  -# TODO link al archivo público?


.seccion.intro
  .row
    .col-md-8.offset-md-2
      .datos-ficha-responsive
        %h1.blanco {{ page.title }}
        %p.destacado {{ page.equipo_de_produccion.direccion }}
        %p.destacado {{ page['año'] }} / {{ page.duracion }} mins
        {% if page.link_al_trailer %}
        %a.btn.btn-primary{href: "{{ page.link_al_trailer }}", target: "_blank"}
          {{ data.trailer }}
        {% endif %}
    .col-md-8.offset-md-2
      {% if page.sinopsis_espaniol %}
      %h2.blanco {{ data.sinopsis_espaniol }}
      %p.blanco {{ page.sinopsis_espaniol }}
      {% endif %}
    .col-md-8.offset-md-2
      {% if page.sinopsis_ingles %}
      %h2.blanco {{ data.sinopsis_ingles }}
      %p.blanco {{ page.sinopsis_ingles }}
      {% endif %}

.seccion.ficha-tecnica
  .row
    .col-md-8.offset-md-2
      %h2.blanco {{ data.ficha_tecnica }}
      %table.table.table-responsive.table-condensed
        %thead
        %tfoot
        %tbody
          {% for campo in data.campos %}
          {% assign key = campo[0]  %}
          %tr
            %th {{ campo[1] }}
            %td
              {% if key == 'sitio_web_de_la_pelicula' %}
              %a{href: '{{ page[key] }}'} {{ page[key] }}
              {% else %}
              {{ page[key] | join: ', ' }}
              {% endif %}
          {% endfor %}
          -# Generar las filas para el equipo de producción
          -# TODO no habría que ponerlos por separado?
          {% for campo in data.equipo_de_produccion %}
          {% assign key = campo[0]  %}
          {% for nombre in page.equipo_de_produccion[key] %}
          %tr
            %th {{ campo[1] }}
            %td {{ nombre }}
          {% endfor %}
          {% endfor %}
          -# Generar una tabla con otros roles
          {% if data.mostrar_otros %}
          {% for otros in page.equipo_de_produccion.otros %}
          %tr
            %th {{ otros.rol }}
            %td {{ otros.nombre }}
          {% endfor %}
          {% endif %}

-# Realización, distribución, datos de contacto, festivales y premios
-# Crear una tabla por cada elemento del grupo
{% for tabla in data.tablas %}
.seccion{class: '{{tabla[0]}}'}
  .row
    .col-md-8.offset-md-2
      -# Mostrar el título
      %h2.blanco {{ tabla[1].title }}
      -# Este es el nombre del campo en los metadatos, por ejemplo `festivales`.
      {% assign key = tabla[0] %}
      {% for row in page[key] %}
      %table.table.table-responsive
        %thead
        %tfoot
        %tbody
          -# Solo queremos mostrar estos campos
          {% for field in tabla[1].campos %}
          -# El nombre del campo
          {% assign field_ = field[0] %}
          -# Detectar si esta información es pública o privada
          {% assign publico = field_ | append: '_publico' %}
          -# Todo lo que no sea 'false' es público
          -# TODO no hay forma de saber si toda la información es
          -# privada y entonces ocultar la fila entera
          {% unless row[publico] == 'false' %}
          %tr
            %th {{field[1]}}
            %td
              -# Mostrar el valor
              {{ row[field_] }}
          {% endunless %}
          {% endfor %}
      {% endfor %}

      {% if tabla[1].post %}
      %p.blanco {{ tabla[1].post }}
      {% endif %}
{% endfor %}

-# Licencias y restricciones
.seccion.licencias-restricciones
  .row
    .col-md-2
    .col-md-4
      %h2.blanco {{ data.licencia_de_uso.title }}
      %p.blanco {{ page.licencia_de_uso }}
    .col-md-4
      %h2.blanco {{ data.restricciones_de_distribucion.title }}
      %p.blanco {{ page.restricciones_de_distribucion }}
    .col-md-2

.seccion.relacionadas
  .container-angosto
    %h2 {{ data.peliculas_relacionadas }}
    .d-none.d-md-block
      {% assign cols=site.data.es.index.recientes.cols %}
      {% assign limit=site.data.es.index.recientes.limit %}
      {% assign breakpoints=site.data.es.index.recientes.breakpoints %}
      {% assign id='peliculas_relacionadas' %}
      {% assign template='card' %}
      {% assign category=page.categories | sample %}
      {% assign collection=site.posts | filter_by: 'layout', 'ficha_documental' | filter_by: 'categories', category | limit: limit %}
      {% assign ride=false %}
      {% haml _carousel.haml %}
    .d-md-none
      {% for item in site.posts limit: limit %}
      {% haml _card.haml %}
      {% endfor %}
