---
layout: default
---

{% haml _menu_secundario.haml %}
{% haml _menu_fijo.haml %}
{% haml _menu_responsive.haml %}

{% if page.image %}
.jumbotron.ancho-completo.portada.still
  %img.img-fluid.cover{src: "{{ site.baseurl }}{{ page.image }}"}
{% endif %}

%article.container-muy-angosto.justificado
  .row.row-centered
    .col
      %h1 {{ page.title }}
      %p.destacado {{ page.descripcion }}
      %p.destacado
        %small {{ page.date | date: "%d/%m/%Y" }}

  .row
    .col.aire
      {{ content }}
