---
layout: default
---

{% haml _menu_secundario.haml %}
{% haml _menu_fijo.haml %}
{% haml _menu_responsive.haml %}

%article.container-muy-angosto.justificado
  .row.row-centered
    .col
      %h1 {{ page.title}}

  .row
    .col.aire
      {{ content }}
